.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-group-1 {
  min-height: 442px;
  width: 533px;
  margin: 53px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 46px;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 96px 10px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 32px 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 557px;
  height: 629px;
  object-position: 100% 21.39%;
  background-position: 100% 21.39%;
  animation-duration: 1000ms;
  margin: -454px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -168px -42px 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 242px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 10px 0 23px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 242px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  width: 143px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 242px;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  margin: 0 10px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  background-image: none;
  min-height: 242px;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  margin: 0 10px;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 242px;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 242px;
}

.u-section-1 .u-text-8 {
  margin: 0;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 125px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 200px;
  }

  .u-section-1 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-1 .u-text-8 {
    margin-right: -53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 96px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    width: 120px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-right: -101px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 610px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-right: -151px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 384px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 77px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-right: -95px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 402px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 906px;
  margin: 61px 117px 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 140px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 140px;
}

.u-section-2 .u-line-1 {
  width: 141px;
  margin: 15px auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 140px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: 23px -9px 0 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 747px;
    margin: 58px 96px 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-2 .u-line-1 {
    width: 114px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin: -274px 218px 60px 37px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 23px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center 0;
    margin-right: 35px;
    margin-bottom: 20px;
    margin-left: 0;
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -222px;
    margin-right: 35px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 82px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 27px;
  }

  .u-section-2 .u-line-1 {
    width: 114px;
    transform-origin: 50% 50%;
    margin: 5px auto 5px 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -250px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 79px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 43px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 79px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: linear-gradient(#e5e5e5, #38c4c1);
}

.u-section-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 1px auto 0;
}

.u-section-3 .u-video-1 {
  width: 553px;
  height: 330px;
  animation-duration: 1000ms;
  margin: 121px auto 0 0;
}

.u-section-3 .u-video-2 {
  width: 553px;
  height: 330px;
  animation-duration: 1000ms;
  margin: -330px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 786px 0 199px;
}

.u-section-3 .u-text-3 {
  margin: -41px 199px 60px 786px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 717px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-3 .u-video-1 {
    margin-left: 100px;
  }

  .u-section-3 .u-video-2 {
    margin-right: 189px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 448px;
    margin-left: 536px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 448px;
    margin-left: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 424px;
    margin-left: 530px;
  }

  .u-section-3 .u-video-1 {
    margin-left: 210px;
  }

  .u-section-3 .u-video-2 {
    width: 586px;
    margin-right: 141px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 334px;
    margin-left: 620px;
  }

  .u-section-3 .u-video-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-video-2 {
    width: 587px;
    margin-right: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 154px;
    margin-left: 800px;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-3 .u-video-2 {
    width: 340px;
    margin-right: 304px;
  }
}.u-section-4 {
  background-image: linear-gradient(#fe7ec9, #38c4c1);
}

.u-section-4 .u-sheet-1 {
  min-height: 1014px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 194px;
  margin: 1px auto 0 278px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  margin: 53px -11px 0 11px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 400px;
  background-image: url("images/129847525_414947689689892_8369113169666212415_n.png");
  animation-duration: 1000ms;
  background-position: 40.51% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  min-height: 400px;
  background-image: url("images/128769926_679134839659765_7117758422482107805_n.png");
  animation-duration: 1000ms;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-4 .u-group-1 {
    width: 638px;
    min-height: 138px;
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 29px;
    margin-bottom: 15px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 330px;
  }

  .u-section-4 .u-image-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-4 .u-group-1 {
    width: 571px;
    min-height: 124px;
    margin-top: 91px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin: 15px 10px 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 253px;
  }

  .u-section-4 .u-image-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 239px;
  }

  .u-section-4 .u-image-2 {
    min-height: 239px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 662px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 185px;
  margin: 31px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 55px 0 20px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 44px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 0 auto;
  padding: 89px 52px 90px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 376px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 0 auto;
  padding: 89px 64px 90px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 376px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 0 auto;
  padding: 89px 49px 90px 48px;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 376px;
}

.u-section-5 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 89px 71px 90px 70px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 470px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 310px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 922px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 186px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-image-1 {
  width: 843px;
  height: 302px;
  animation-duration: 1000ms;
  margin: -55px auto 0;
}

.u-section-6 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-text-4 {
  margin: 0 54px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 0 54px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 660px;
    height: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 520px;
    height: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 320px;
    height: 114px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 464px;
}

.u-section-7 .u-group-1 {
  min-height: 104px;
  margin: 79px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  margin-top: 0;
  font-weight: 400;
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 18px auto 34px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 243px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-2 {
  margin: 8px 0;
}

.u-section-7 .u-image-1 {
  min-height: 243px;
  transition-duration: 0.5s;
  background-image: url("images/Picture2.png");
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 158px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin: 15px 16px;
  }

  .u-section-7 .u-image-1 {
    background-position: 92.7% 50%;
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-1 {
    min-height: 153px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 95px;
  }

  .u-section-7 .u-text-2 {
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-7 .u-image-1 {
    min-height: 230px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-7 .u-text-2 {
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-7 .u-image-1 {
    min-height: 145px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 435px;
}

.u-section-8 .u-group-1 {
  width: 766px;
  min-height: 577px;
  margin: 60px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-image-1 {
  width: 566px;
  height: 224px;
  animation-duration: 1000ms;
  margin: 30px auto 0 70px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-8 .u-group-1 {
    width: 632px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-8 .u-group-1 {
    width: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-8 .u-group-1 {
    width: 454px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 520px;
    height: 206px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 127px;
  }
}.u-section-9 {
  min-height: 739px;
}

.u-section-9 .u-group-1 {
  width: 680px;
  min-height: 682px;
  margin: 57px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.u-section-9 .u-text-1 {
  animation-duration: 1000ms;
  margin: 30px 148px 0 auto;
}

.u-section-9 .u-text-2 {
  margin: 30px 7px 0;
}

.u-section-9 .u-image-1 {
  width: 600px;
  height: 200px;
  animation-duration: 1000ms;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 {
    min-height: 976px;
  }

  .u-section-9 .u-group-1 {
    width: 705px;
    margin-left: calc(((100% - 1140px) / 2) + 218px);
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 1030px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-9 {
    min-height: 856px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 120px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 6px;
    margin-left: 6px;
  }

  .u-section-9 .u-image-1 {
    width: 520px;
    height: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-9 {
    min-height: 1102px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 74px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 4px;
    margin-left: 4px;
  }

  .u-section-9 .u-image-1 {
    width: 320px;
    height: 106px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 741px;
}

.u-section-10 .u-text-1 {
  animation-duration: 1000ms;
  margin: 20px 654px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  animation-duration: 2000ms;
  margin: 74px -33px 0 688px;
}

.u-section-10 .u-image-1 {
  width: 591px;
  height: 563px;
  animation-duration: 1000ms;
  margin: -372px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 454px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 234px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 54px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 54px;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 514px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 288px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 324px;
  }
}.u-section-11 {
  background-image: linear-gradient(#fe7ec9, #488df4);
}

.u-section-11 .u-sheet-1 {
  min-height: 735px;
}

.u-section-11 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-11 .u-video-1 {
  width: 700px;
  height: 400px;
  animation-duration: 1000ms;
  margin: 47px auto 43px;
}

@media (max-width: 767px) {
  .u-section-11 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-video-1 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 578px;
}

.u-section-12 .u-text-1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 40px 171px 40px 170px;
}

.u-section-12 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 39px 175px 40px 174px;
}

.u-section-12 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto;
  padding: 39px 167px 40px 166px;
}.u-section-13 {
  background-image: linear-gradient(#fe7ec9, #38c4c1);
}

.u-section-13 .u-sheet-1 {
  min-height: 500px;
}

.u-section-13 .u-text-1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-13 .u-text-2 {
  margin: 20px 80px 0;
}

.u-section-13 .u-image-1 {
  width: 570px;
  height: 259px;
  animation-duration: 1000ms;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-2 {
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-2 {
    margin-left: 51px;
    margin-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 246px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 155px;
  }
}.u-section-14 {
  background-image: linear-gradient(#fe7ec9, #38c4c1);
}

.u-section-14 .u-sheet-1 {
  min-height: 500px;
}

.u-section-14 .u-text-1 {
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-14 .u-text-2 {
  margin: 20px 86px 0;
}

.u-section-14 .u-image-1 {
  width: 570px;
  height: 243px;
  animation-duration: 1000ms;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-14 .u-image-1 {
    width: 540px;
    height: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 145px;
  }
}.u-section-15 {
  background-image: linear-gradient(#fe7ec9, #38c4c1);
}

.u-section-15 .u-sheet-1 {
  min-height: 500px;
}

.u-section-15 .u-text-1 {
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-15 .u-text-2 {
  margin: 20px 86px 0;
}

.u-section-15 .u-image-1 {
  width: 570px;
  height: 226px;
  animation-duration: 1000ms;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 135px;
  }
}.u-section-16 {
  background-image: linear-gradient(#b4d0fb, #38c4c1);
}

.u-section-16 .u-sheet-1 {
  min-height: 500px;
}

.u-section-16 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-16 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 60px;
}.u-section-17 {
  background-image: linear-gradient(#fe7ec9, #488df4);
}

.u-section-17 .u-sheet-1 {
  min-height: 741px;
}

.u-section-17 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-17 .u-text-2 {
  font-size: 3rem;
  margin: 32px auto 0;
}

.u-section-17 .u-text-3 {
  width: 344px;
  margin: 17px auto 0;
}

.u-section-17 .u-slider-1 {
  min-height: 324px;
  height: auto;
  margin: 39px auto 60px 0;
}

.u-section-17 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-17 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-17 .u-image-1 {
  width: 520px;
  height: 179px;
  margin: 0 auto;
}

.u-section-17 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-17 .u-image-2 {
  width: 520px;
  height: 279px;
  margin: 0 auto;
}

.u-section-17 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-17 .u-image-3 {
  width: 507px;
  height: 274px;
  margin: -3px auto;
}

.u-section-17 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
}

.u-section-17 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-17 .u-text-1 {
    margin-right: 0;
  }

  .u-section-17 .u-text-2 {
    margin-top: -79px;
    margin-right: 41px;
  }

  .u-section-17 .u-text-3 {
    margin-top: 98px;
    margin-left: 159px;
  }

  .u-section-17 .u-slider-1 {
    min-height: 375px;
    margin-top: -72px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-image-1 {
    margin-top: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-text-2 {
    margin-right: 31px;
  }

  .u-section-17 .u-text-3 {
    margin-left: 122px;
  }

  .u-section-17 .u-slider-1 {
    margin-top: -102px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-text-2 {
    margin-right: 23px;
  }

  .u-section-17 .u-text-3 {
    margin-left: 92px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-17 .u-text-2 {
    margin-right: 14px;
  }

  .u-section-17 .u-text-3 {
    margin-left: 58px;
    width: 340px;
  }

  .u-section-17 .u-slider-1 {
    margin-top: -133px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-image-1 {
    width: 320px;
    height: 110px;
  }

  .u-section-17 .u-image-2 {
    width: 320px;
    height: 171px;
  }

  .u-section-17 .u-image-3 {
    width: 320px;
    height: 173px;
  }
}