.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1158px;
}

.u-section-1 .u-group-1 {
  width: 770px;
  min-height: 724px;
  margin: 44px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 355px;
  height: 200px;
  margin: 239px 76px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 679px;
  min-height: 438px;
  background-image: url("images/tech.jpg");
  margin: -505px -85px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 35px;
  padding-right: 32px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 56px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 640px;
  margin: -524px auto 0 -46px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 269px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 166px;
  filter: brightness(0);
  width: 295px;
  margin: 31px -18px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -37px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 295px;
  height: 166px;
  filter: brightness(0);
  margin: 40px -17px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -46px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 236px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 165px;
  filter: brightness(0);
  width: 293px;
  margin: -9px -17px 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -40px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 236px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 296px;
  height: 166px;
  filter: brightness(0);
  margin: 5px -18px 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -55px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 245px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 166px;
  filter: brightness(0);
  width: 295px;
  margin: 10px -18px 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -66px 27px 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 245px;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  width: 295px;
  height: 166px;
  filter: brightness(0);
  margin: -8px -17px 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -48px 84px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 806px;
  margin: 93px auto 39px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1151px;
  }

  .u-section-1 .u-group-1 {
    width: 634px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 234px;
  }

  .u-section-1 .u-image-2 {
    width: 560px;
    min-height: 439px;
    margin-top: -584px;
    margin-right: calc(((100% - 1140px) / 2) + 201px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 83px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -560px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-3 {
    width: 290px;
    height: 163px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -23px;
  }

  .u-section-1 .u-image-5 {
    width: 290px;
    height: 162px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -16px;
  }

  .u-section-1 .u-image-7 {
    width: 290px;
    height: 163px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -45px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 0;
    margin-left: -2px;
    margin-right: -2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-group-1 {
    width: 486px;
    left: 190px;
    right: 44px;
    margin-right: 0;
    margin-left: 0;
    margin-top: initial;
    margin-bottom: initial;
    min-height: auto;
  }

  .u-section-1 .u-image-2 {
    width: 406px;
    min-height: 336px;
    margin-top: -526px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 314px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 35px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 130px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 260px;
    height: 146px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -26px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-8 {
    width: 260px;
    height: 146px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 2065px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-group-1 {
    width: 456px;
    left: 63px;
    right: 21px;
    min-height: auto;
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 273px;
    min-height: 316px;
    margin-top: -419px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1557px;
  }

  .u-section-1 .u-group-1 {
    width: 314px;
    left: 0;
    right: auto;
    min-height: auto;
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 180px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 274px;
    min-height: 399px;
    margin-top: -488px;
    margin-right: calc(((100% - 1140px) / 2) + 45px);
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 14px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-4 {
    width: 160px;
    height: 90px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 160px;
    height: 90px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 988px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 1px auto;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 986px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 270px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-style: italic;
  font-weight: 700;
  width: 449px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 65px auto 0 437px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 20px auto 0 -8px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 65px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.5rem;
  font-weight: 700;
  border-style: none;
  animation-duration: 1000ms;
  background-image: none;
  margin: 80px auto -35px;
  padding: 28px 89px 30px 88px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1281px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1932px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    min-height: 1576px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 813px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1569px;
    margin-right: 318px;
    margin-left: 406px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1204px;
    margin-left: 362px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 65px;
    margin-right: 201px;
    margin-bottom: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1213px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1593px;
    margin-right: 280px;
    margin-left: 444px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1228px;
    margin-left: 272px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1656px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 3195px;
    margin-right: 248px;
    margin-left: 476px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -2817px;
    margin-left: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1410px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: 3555px;
    margin-right: 289px;
    margin-left: 511px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -3164px;
    margin-left: 132px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 922px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  width: 817px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  z-index: 99999;
  animation-duration: 1000ms;
  margin: 115px -69px 0 392px;
}

.u-section-3 .u-text-4 {
  z-index: 99999;
  animation-duration: 1000ms;
  margin: 21px 141px 0 392px;
}

.u-section-3 .u-image-1 {
  width: 288px;
  height: 299px;
  animation-duration: 1000ms;
  margin: -296px auto 60px 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-left: 292px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 41px;
    margin-left: 292px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 182px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 925px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-4 .u-image-1 {
  width: 806px;
  height: 541px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 80px 0 39px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 483px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 228px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 896px;
}

.u-section-5 .u-text-1 {
  width: 534px;
  font-weight: 700;
  margin: 72px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 534px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 754px;
}

.u-section-6 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 39px 0;
}

.u-section-6 .u-image-1 {
  width: 280px;
  height: 280px;
  margin: 109px auto 0 78px;
}

.u-section-6 .u-image-2 {
  width: 280px;
  height: 280px;
  margin: -280px auto 0;
}

.u-section-6 .u-image-3 {
  width: 273px;
  height: 282px;
  margin: -282px 82px 0 auto;
}

.u-section-6 .u-btn-1 {
  font-size: 1.5rem;
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  font-size: 1.5rem;
  background-image: none;
  border-style: none;
  margin: -59px 51px 0 auto;
}

.u-section-6 .u-btn-3 {
  font-size: 1.5rem;
  background-image: none;
  border-style: none;
  margin: -57px auto 60px 89px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 60px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 67px;
  }
}.u-section-7 {
  background-image: linear-gradient(#478ac9, #e5e5e5);
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  z-index: 99999;
  animation-duration: 1000ms;
}

.u-section-7 .u-text-2 {
  z-index: 99999;
  animation-duration: 1000ms;
  margin: 20px 0 60px;
}.u-section-8 {
  background-image: linear-gradient(#2cccc4, #e5e5e5);
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  z-index: 99999;
  animation-duration: 1000ms;
}

.u-section-8 .u-text-2 {
  z-index: 99999;
  animation-duration: 1000ms;
  font-size: 1rem;
  margin: 20px 0 60px;
}.u-section-9 {
  background-image: linear-gradient(#07f308, #e5e5e5);
}

.u-section-9 .u-sheet-1 {
  min-height: 766px;
}

.u-section-9 .u-text-1 {
  z-index: 99999;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-9 .u-text-2 {
  z-index: 99999;
  animation-duration: 1000ms;
  font-size: 1rem;
  margin: 20px 0 60px;
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 694px;
}

.u-section-10 .u-text-1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 400px;
  animation-duration: 1000ms;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 321px;
  height: 252px;
  animation-duration: 1000ms;
  margin: 28px auto 0;
}

.u-section-10 .u-text-3 {
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 419px;
  animation-duration: 1000ms;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  width: 318px;
  height: 219px;
  animation-duration: 1000ms;
  margin: 45px auto 0;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-10 .u-image-2 {
    height: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-image-1 {
    width: 300px;
    height: 236px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-image-2 {
    width: 300px;
    height: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-11 {
  background-image: linear-gradient(#858e99, #e0e5eb);
}

.u-section-11 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.5rem;
  width: 817px;
  margin: 20px auto 0;
}

.u-section-11 .u-video-1 {
  width: 904px;
  height: 553px;
  margin: 38px auto 60px;
}

@media (max-width: 991px) {
  .u-section-11 .u-text-2 {
    width: 720px;
  }

  .u-section-11 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-2 {
    width: 340px;
  }

  .u-section-11 .u-video-1 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1075px;
}

.u-section-12 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-12 .u-text-2 {
  margin: 12px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}