.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1220px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  background-image: none;
  font-style: italic;
  animation-duration: 1000ms;
  margin: 53px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 40px auto 0;
}

.u-section-1 .u-image-1 {
  height: 681px;
  animation-duration: 1000ms;
  margin: 32px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 12px auto 0 133px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -97px 469px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -97px 263px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -97px auto 60px 363px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 269px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 63px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 49px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 331px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 481px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 108px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 882px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 216px auto 0 120px;
}

.u-section-2 .u-image-1 {
  width: 268px;
  height: 268px;
  margin: 24px auto 0 55px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: -268px 38px 0 405px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: -188px auto 60px 38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 99px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 243px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 672px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 23px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 452px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 57px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 272px;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 36px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 72px;
    margin-left: 11px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 910px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 184px auto 0 232px;
}

.u-section-3 .u-image-1 {
  width: 268px;
  height: 268px;
  margin: 30px auto 0 44px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 18px auto 0 40px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: -382px 40px 60px 392px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 176px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 17px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 17px;
    margin-left: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 141px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 38px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 110px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 44px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 69px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 12px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1093px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  margin: 200px 278px 0 206px;
}

.u-section-4 .u-image-1 {
  width: 268px;
  height: 268px;
  margin: 45px auto 0 56px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 17px auto 0 36px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: -381px 36px 0 448px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 120px auto 22px;
  padding: 28px 130px 29px 129px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 656px;
    margin-right: 193px;
    margin-left: 91px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 41px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 15px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 15px;
    margin-left: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-left: 56px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 23px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 17px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 11px;
  }
}